.background-main {
  background: url("/src/restaurant-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Скрываем стандартные стили чекбокса */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #CBD5E0;
    border-radius: 0.25em;
    outline: none;
}

/* Создаем кастомные стили для чекбокса */
input[type="checkbox"]:checked {
    background-color: #4FD1C5;
    border-color: #4FD1C5;
}

/* Устанавливаем галочку */
input[type="checkbox"]:checked::before {
    display: inline-block;
    width: 1em;
    height: 1em;
	    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23ffffff" viewBox="0 0 24 24"%3E%3Cpath d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/%3E%3C/svg%3E');

    text-align: center;
    color: white;
	content: '';
}

